-
  var nav = {
    home: '/',
    'demo index': '/demo',
    'demo symbol': '/demo/symbol',
    'demo rwd images': '/demo/rwd-image-sample',
    'another page': '/page-name',
    'sub in sub': '/demo/subs/in-sub'
  }

ul
  each url, text in nav
    li: a(href=url)= text
