extends /layouts/_default

block content
  - var shapes = []
  - shapes.push({name: 'bubbles', width: 72, height: 64 })
  - shapes.push({name: 'cog', width: 64, height: 64 })
  - shapes.push({name: 'glasses--martini', width: 64, height: 64 })
  - shapes.push({name: 'glasses--wine', width: 64, height: 64 })

  body
    p 本頁為在 gulp task - images:svg-sprites 中自動產出的 sample page，要使用以下 icon 請使用 mixin 於 jade 裡
    ul
      each shape in shapes
        li
          +icon(shape.name)
          code +icon('#{shape.name}')
