-
  categories = [
    {
      text: '分類 1',
      url: '#'
    },
    {
      text: '分類 2',
      url: '#'
    },
  ];

  posts = [
    {
      title: '文章標題 1',
      category: categories[1]
    }
  ];

  // 資料間有關連時，可以使用 jade 的 unbufferd code 功能，儲存資料
