//
// slim markup:
// button.btn / a.btn
//
// Modifiers:
// .btn-action / .btn-primary / .btn-danger / .btn-outline
//
// state:
// .is-disabled
//
// ===========

.btn
  @extend %subpixel
  display: inline-block
  margin-bottom: 0
  padding: 5px 23px
  border: 1px solid $color-gray-light
  border-radius: $global-radius-width
  +adjust-font-size-to(15px)
  background-image: none
  text-align: center
  text-shadow: none
  cursor: pointer
  outline: none
  white-space: nowrap
  user-select: none
  color: $color-black
  background-color: $color-gray-light
  &:hover
    text-decoration: none
    color: $color-black
    border-color: $color-gray-light
    background-color: $color-gray-light
  &:disabled, &.is-disabled
    cursor: default
    color: $color-gray-dark
    border-color: $color-gray-white
    background-color: $color-gray-white

  &-primary
    color: white
    border-color: $color-black
    background-color: $color-black
    &:hover
      color: white
      border-color: $color-black
      background-color: $color-black
    &:disabled, &.is-disabled
      cursor: default
      color: $color-gray-dark
      border-color: $color-gray-white
      background-color: $color-gray-white

  &-danger
    color: white
    border-color: $color-red
    background-color: $color-red
    &:hover
      color: white
      border-color: $color-red
      background-color: $color-red
    &:disabled, &.is-disabled
      cursor: default
      color: $color-gray-dark
      border-color: $color-gray-white
      background-color: $color-gray-white

  &-outline
    border-color: $color-black
    background-color: transparent
    &:hover
      border-color: $color-black
      background-color: transparent
    &:disabled, &.is-disabled
      color: $color-gray-dark
      border-color: $color-gray-light
      background-color: transparent
