$form-height: 36px
$form-border-width: 1px
$form-border-color: #dddddd
$form-padding: 5px 12px
$form-radius-width: $global-radius-width
$form-bg-color: white
$form-color: #444444
$form-placeholder-color: #999999
$form-font-size: 15px

$form-label-font-size: $form-font-size
$form-label-color: black

$form-content-font-size: $form-font-size
$form-content-color: $form-color

$form-tip-font-size: 13px
$form-tip-color: #999999

.form
  textarea,
  input:not([type]),
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  input[type="datetime"]
    -webkit-appearance: none

  &_control,
  textarea,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"]
    padding: $form-padding
    min-height: $form-height
    max-width: 100%
    border: $form-border-width solid $form-border-color
    border-radius: $form-radius-width
    background-color: $form-bg-color
    box-shadow: none
    color: $form-color
    outline: none
    @extend %typecsset-vertical-rhythm
    +typecsset-font-size($form-font-size)
    +input-placeholder-color($form-placeholder-color)
    &.is-full-width
      width: 100%
  input[type="file"], select
    cursor: pointer
    outline: none
  textarea
    vertical-align: top
    min-height: $form-height * 3
  select
    height: $form-height

  // =========================================
  // form 排版
  // =========================================

  // 垂直排列（預設排版方式）
  &_row + &_row
    +leader(0.5)

  &_label
    display: block
    +typecsset-font-size($form-label-font-size)
    @extend %subpixel
    .is-required &:after
      content: '*'
      display: inline
      font-size: $form-label-font-size + 2px
      line-height: 1
      color: #c00

  &_content
    display: block
    color: $form-content-color
    +typecsset-font-size($form-content-font-size)

  &_tip
    display: block
    margin: 0
    color: $form-tip-color
    +typecsset-font-size($form-tip-font-size)

  &_action
    +leader(1)
    .btn
      margin-right: 12px

.radio, .checkbox
  cursor: pointer
  display: inline-block
  margin-right: 12px
  input
    outline: none
    margin-right: 3px

  &_group
    display: block
    & + &
      +leader(0.125)

// 水平排列：
// 由於在手機版時，表單不適合使用水平排列，
// 也無法確認在某個版本時，表單的排版就變成水平排列，
// 所以表單水平排列，就由 partial 的部分在來控制。
