form.form
  .form_row.is-required
    label.form_label 名稱
    .form_content
      input(type="text")
  .form_row.is-required
    label.form_label  e-mail
    .form_content
      input(type="email")
  .form_row
    label.form_label 電話
    .form_content
      input(type="tel")
  .form_row
    label.form_label 性別
    .form_content
      .radio_group
        label.radio
          input(type="radio" name="sex")
          | 男
        label.radio
          input(type="radio" name="sex")
          | 女
  .form_row
    label.form_label 興趣
    .form_content
      .checkbox_group
        label.checkbox
          input(type="checkbox" name="interest")
          | 運動
        label.checkbox
          input(type="checkbox" name="interest")
          | 電影
        label.checkbox
          input(type="checkbox" name="interest")
          | 音樂
        label.checkbox
          input(type="checkbox" name="interest")
          | 動漫
        label.checkbox
          input(type="checkbox" name="interest")
          | 旅行
        label.checkbox
          input(type="checkbox" name="interest")
          | 美食

      p.form-tip 選擇你最喜歡的幾種興趣，可復選。


  .form_row
    label.form_label 職業
    .form_content
      select
        option(value="item") 職業名稱
        option(value="item") 職業名稱
        option(value="item") 職業名稱
        option(value="item") 職業名稱
        option(value="item") 其他...
  .form_row
    label.form_label 上傳頭像
    .form_content
      input(type="file")
  .form_row
    label.form_label 部落格
    .form_content
      input(type="url")
  .form_row.is-required
    label.form_label 簡介
    .form_content
      textarea(rows="4")
      p.form_tip 建議字數於兩百字以內，不宜過長。
  .form-action
    button.btn 取消
    button.btn.btn_primary 確定
